<div class="modal fade" id="AddMateriaModal" tabindex="-1" role="dialog" aria-labelledby="AddMateriaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título da Modal</h5>
                <button type="button" onclick="closeModalMateria();" class=" close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control">
                    <option value="">Materia</option>
                    <option value="1">Opção 1</option>
                    <option value="2">Opção 2</option>
                </select>
                <select class="form-control">
                    <option value="">Quantidade de semestre</option>
                    <option value="1">Opção 1</option>
                    <option value="2">Opção 2</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalMateria()">Fechar</button>
                <button type="button" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </div>
</div>